{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

<h4 class="ui dividing header">{{ 'sylius.ui.values'|trans }}</h4>
{% for valueObject in form %}
    {{ form_row(valueObject.code) }}

    {{ translationForm(valueObject.translations) }}

    {{ form_row(valueObject.value) }}
{% endfor %}
{{ form_row(form) }}