{% if configuration|length > 0 %}
    {% from 'Brille24SyliusCustomerOptionsPlugin:all:_orderItem.html.twig' import renderPrice %}

    <h4>{{ 'sylius.menu.admin.main.catalog.customer_options'|trans }}</h4>
    <div class="ui list sylius-product-options">
        {% for orderItemOption in configuration %}
            <div class="item" data-sylius-option-name="{{ orderItemOption.customerOptionCode }}">
                {{ orderItemOption.customerOptionName }}:
                {% if(orderItemOption.customerOption.type == 'file') %}
                    {% if 'image' in orderItemOption.customerOptionValueName %}
                        <img src="{{ orderItemOption.customerOptionValueName }}" style="max-width: 200px" />
                    {% else %}
                        {{ 'brille24.ui.file_content'|trans }}
                    {% endif %}
                {% else %}
                    {{ orderItemOption.customerOptionValueName }}
                {% endif %}
                {{ renderPrice(orderItemOption) }}
            </div>
        {% endfor %}
    </div>
{% endif %}
