<div class="ui tab" data-tab="pricing">

    {% for priceCollection in form.prices %}

        {% for price in priceCollection %}
        <div class="ui segment two fields">
            {{ form_row(price.customerOptionValueName) }}
            <div class="ui field">
                {{ form_row(price.percent) }}
                {{ form_row(price.amount) }}
                {{ form_row(price.type) }}
            </div>
        </div>

        {% endfor %}
    {% endfor %}

    {#{{ form_row(form.prices) }}#}

</div>