{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

{% form_theme form '@Brille24CustomerOptionsPlugin/Form/theme.html.twig' %}

{{ form_errors(form) }}

<div class="ui segment">
    <h3 class="ui dividing header">{{ 'sylius.ui.details'|trans }}</h3>
    {{ form_row(form.code) }}
    {{ translationForm(form.translations) }}
</div>

<div class="ui segment">
    <h3 class="ui dividing header">{{ 'sylius.ui.options'|trans }}</h3>
    {{ form_row(form.option_associations) }}
</div>

<div class="ui segment">
    <h3 class="ui dividing header">Validators</h3>
    {#<div class="controls collection-widget">#}
    {#{% for validator in form.validators %}#}
        {#<div class="ui segment">#}
            {#{{ form_label(validator.conditions) }}#}
            {#{% for condition in validator.conditions %}#}
                {#<div class="ui three fields">#}
                    {#{{ form_row(condition) }}#}
                {#</div>#}
            {#{% endfor %}#}
            {#{{ form_row(validator.conditions) }}#}

            {#{{ form_label(validator.constraints) }}#}
            {#{% for constraint in validator.constraints %}#}
                {#<div class="ui three fields">#}
                    {#{{ form_row(constraint) }}#}
                {#</div>#}
            {#{% endfor %}#}
            {#{{ form_row(validator.constraints) }}#}
        {#</div>#}
    {#{% endfor %}#}
    {#</div>#}



    {{ form_widget(form.validators) }}
</div>