{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

{{ form_errors(form) }}

<div class="ui segment">
    <h3 class="ui dividing header">{{ 'sylius.ui.details'|trans }}</h3>
    {{ form_row(form.code) }}
    {{ translationForm(form.translations) }}
</div>

<div class="ui segment">
    <h3 class="ui dividing header">{{ 'sylius.ui.options'|trans }}</h3>
    {{ form_row(form.option_associations) }}
</div>

<div class="ui segment">
    <h3 class="ui dividing header">Validators</h3>
    {{ form_row(form.validators) }}
</div>

