{% block subject %}
    {{ 'brille24.email.customer_option_price_import_failed'|trans }}
{% endblock %}

{% block body %}
    <style>
        th, td {
            margin: 0;
            padding: 0.2rem;
        }
    </style>

    <h2>Configuration</h2>
    <table style="border-spacing: 0" border="1">
        <thead style="background-color: lightgrey">
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in extraData if value is not null %}
            <tr>
                <td>{{ key }}</td>
                <td>
                    {% if value is iterable %}
                        <ul>

                            {% for item in value %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br/>

    <h2>Errors</h2>
    <table style="border-spacing: 0" border="1">
        <thead style="background-color: lightgrey">
        <tr>
            <th>Product code</th>
            <th>Customer option value</th>
            <th>Error</th>
            <th>Cause</th>
        </tr>
        </thead>
        <tbody>
        {% for productCode, errorList in errors %}
            {% for error in errorList %}
                {% for violation in error.violations %}
                    <tr>
                        <td>{{ productCode }}</td>
                        <td>{{ violation.propertyPath }}</td>
                        <td>{{ violation.message|trans }}</td>
                        <td>{{ violation.cause }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
